:root {
  --x-050505: rgba(5, 5, 5, 1);
  --x-000066: rgba(0, 0, 102, 1);
  --x0019b9-2-paints: rgba(0, 25, 185, 1);
  --x-1d-5-8bd: rgba(29, 88, 189, 1);
  --x-006-6cc: rgba(0, 102, 204, 1);
  --x-4-2a-5c-3: rgba(66, 165, 195, 1);
  --cce-0f-5: rgba(204, 224, 245, 1);
}
